.stage8-container {
  width: 100vw; /* 화면 전체 너비 */
  height: 100vh; /* 화면 전체 높이 */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkblue;
  overflow: hidden;
  z-index: -1;
}

.stage8-bgcolor {
  position: absolute;
  top: -57.9%;
  left: 210.3%;
  transform: translate(-50%, -50%);
  width: 1230.3%;
  height: auto;
  z-index: 0;
}

.stage8-bgImage1 {
  /* 맨위의 잔디밭 */
  position: absolute;
  top: 52.1%;
  left: 210.3%;
  transform: translate(-50%, -50%);
  width: 390.3%;
  height: auto;
  z-index: 0;
}

.stage8-bgImage2 {
  /* 뒤쪽의 잔디밭 */
  position: absolute;
  top: 50.6%;
  left: 210.3%;
  transform: translate(-50%, -50%);
  width: 390.3%;
  height: auto;
  z-index: 0;
}

.stage8-bgImage3 {
  /* 맨뒤 나무기둥 */
  position: absolute;
  top: 50.6%;
  left: 210.3%;
  transform: translate(-50%, -50%);
  width: 390.3%;
  height: auto;
  z-index: 0;
}

.stage8-bgImage4 {
  /* 청록색 나무 */
  position: absolute;
  top: 50.6%;
  left: 210.3%;
  transform: translate(-50%, -50%);
  width: 390.3%;
  height: auto;
  z-index: 0;
}

.stage8-bgImage5 {
  /* 청록색 풀 */
  position: absolute;
  top: 50.6%;
  left: 210.3%;
  transform: translate(-50%, -50%);
  width: 390.3%;
  height: auto;
  z-index: 0;
}

.stage8-bgImage6 {
  /* 어두운 나무 */
  position: absolute;
  top: 50.6%;
  left: 210.3%;
  transform: translate(-50%, -50%);
  width: 390.3%;
  height: auto;
  z-index: 0;
}

.screenBorder {
  width: auto;
  height: 100%;
  z-index: 2;
}

/* control 부분 ------------------------------------ */
.stage8_control_panel {
  position: absolute;
  width: 70.6%;
  height: auto;
  z-index: 3;
  left: 231.5px;
  top: 45px;
}

.stage8_control_1p {
  position: absolute;
  top: 45px;
  left: 231.8px;
  width: 70.4%;
  height: auto;
  z-index: 3;
  opacity: 0;
  transition: opacity 0.5s;
}

.stage8_control_1p.visible {
  opacity: 1;
}

.stage8_control_2p {
  position: absolute;
  top: 45px;
  left: 230.5px;
  width: 70.7%;
  height: auto;
  z-index: 3;
  opacity: 0;
  transition: opacity 0.5s;
}

.stage8_control_2p.visible {
  opacity: 1;
}
