.stage2-container {
  width: 100vw; /* 화면 전체 너비 */
  height: 100vh; /* 화면 전체 높이 */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkblue;
  overflow: hidden;
  z-index: -30;
}

/* 애니메이션 오른쪽 아래로 내려가야 한다 */
.heartBg {
  position: absolute; /* 부모 요소(stage1-container)를 기준으로 배치 */
  bottom: 0%;
  left: -60%;

  width: 150%;
  height: 200%; /* 비율 유지 */
  z-index: 0; /* screenBorder 뒤에 배치 */
}

.hfloor {
  position: absolute;
  top: -10px;
  left: 70px;
  width: auto;
  height: 100%;
  z-index: 1;
}

.screenBorder {
  width: auto;
  height: 100%;
  z-index: 2;
}
