.stage6-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkblue;
  overflow: hidden;
  z-index: -1;
}

.stage6-bgImage1 {
  position: absolute;
  top: 54.7%;
  left: 51.7%;
  transform: translate(-50%, -50%);
  width: 73.5%;
  height: auto;
  z-index: 0;
}

.screenBorder {
  width: auto;
  height: 100%;
  z-index: 2;
}

/* control 부분 ------------------------------------ */
.stage6_control_panel {
  position: absolute;
  width: 70%;
  height: auto;
  z-index: 3;
  left: 230.3px;
  top: 45px;
}

.stage6_control_1p {
  position: absolute;
  top: 45px;
  left: 230.7px;
  width: 70%;
  height: auto;
  z-index: 3;

  opacity: 0; /* 처음에 투명 */
  transition: opacity 0.5s; /* 추가: n초 동안 부드럽게 변화 */
}

.stage6_control_1p.visible {
  opacity: 1;
}

.stage6_control_2p {
  position: absolute;
  top: 45px;
  left: 230.5px;
  width: 70%;
  height: auto;
  z-index: 3;

  opacity: 0; /* 처음에 투명 */
  transition: opacity 0.5s; /* 추가: n초 동안 부드럽게 변화 */
}

.stage6_control_2p.visible {
  opacity: 1;
}
