.stage2-container {
  width: 100vw; /* 화면 전체 너비 */
  height: 100vh; /* 화면 전체 높이 */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkblue;
}

.screenArea {
  width: auto; /* 부모 요소에 맞게 크기 조정 */
  height: 90%; /* 비율 유지 */
}

.hsBg {
  position: absolute; /* screenArea 위에 겹치도록 설정 */

  width: 50%; /* screenArea와 동일한 크기 */
  height: 50%; /* screenArea와 동일한 크기 */
  object-fit: cover; /* 이미지 비율 유지하며 영역 채우기 */
}
